/* Add your styling for MainContainer component here */
/* For example: */
#main-container {
  height: 100%;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#345dff, #8aa1ff);
  line-height: 50%;
}

#weather-container {
  height: 70%;
  width: 90%;
  font-weight: bold;
}

h1 {
  font-size: 2.5vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
}

span {
  font-size: 1.2vw;
}

img {
  height: 10vw;
  width: 10vw;
}

.cover {
  display: flex;
  align-items: center;
}

#current-temp {
  font-size: 5vw;
}

#cover-visual {
  height: 30%;
  width: 30%;
}

#forecast-container {
  display: flex;
  justify-content: space-between;
}